<%- include("header") -%>

  <div class="box" id="heading">
    <h1> <%= _.capitalize(listTitle) %> </h1>
  </div>
  
  <div class="box">
    <% newListItems.forEach(item => { %>
      <form action="/delete" method="post">
        <input type="hidden" name="listName" value="<%= listTitle %>">
        <div class="item">
          <input name="checkbox" value="<%= item._id %>" type="checkbox" onChange="this.form.submit()">
          <p><%= _.capitalize(item.name) %></p>
        </div>
      </form>
      <% }); %>

      <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <button type="submit" value="<%= listTitle %>" name="list">+</button>
      </form>
  </div>

<%- include("footer") -%>
